
body{
  margin:0;
  padding: 0;
  background:  rgba(158, 158, 158, 0.3);
}

.cont{
    align-content: center;
    align-items: center;
    align-self: center;
}
#erreur, .warning{
    border-left:0px solid lightblue;
    width:100%;
    margin:5px auto;
}
.#warning1{
    margin-bottom: 5px;
}
  h3{
    color: #0d47a1;
    font-family: sans-serif;
    margin-top: -5px;
  }


.Titre{
    width: 100%;
    background-color: red;
}
  p{
    font-family: sans-serif;
    font-size: 12px;
  }

  .bloc{
    padding: 10px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    height: auto;
    margin-bottom: 10px;
  /*  box-shadow: 1px 1px 1px 1px rgba(158, 158, 158,0.2);*/
  }


.bloc1 h3{
    text-align: center;
    padding: 20px;
    background-color: #0d47a1;
    color:#fff;
    margin-top: 5px;
    margin-bottom: -1px;
}

  h1{
    text-align: center;
    font-family: sans-serif;
    color:#0d47a1;
    padding: 15px;
  }



      .formulaire input[type="text"],input[type="password"]{
      padding: 6px;
      border-radius: 3px;
      background-color:rgba(158, 158, 158, 0.3);
      width: 100%;
      margin-bottom: 20px;
    }


    .valider{
      text-decoration: none;
      font-family: sans-serif;
      padding: 10px 15px;
      border-radius: 3px;
      background-color:#0d47a1;
      color: #fff;
      margin-bottom: 7px;
    }

    #sumettre{
        margin-top: 5px;
    }
    .creercompte{
      visibility:visible;
    }
