
/*FOOTER*/

.footer {
    background: #333;
    padding: 16px 0;
    &-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        li {
            padding: .5rem 0;
            a {
                color: #f4f4f4;
            }
        }
    }
}
