.profile {
    max-width: 100vw;
    min-height: 84vh;
    padding: 3rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &-inner {
        
        width: 350px;

        &-title {
            position: relative;
            max-width: 325px;
            margin: 0 auto;
            border-radius: .5rem .5rem 0 0;
            background-color: $third-color;
            padding: 1rem .5rem;
            //bottom: -10px;
            //TODO mettre conforme à la maquette
            div {
                text-align: center;
                h3 {
                    font-size: 2rem;
                    color: $dark-white-color;
                }
            }
        }
        
        &-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 3rem;

            //PICTURE
            &-avatar {

                .profile-canvas {
                    position: relative;
                    width: 150px;
                    height: 150px;
                    margin: 0 auto;
                    border-radius: 50%;
                    border: 1px solid $grey1-color;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                    &-input{
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        
                        width: 150px;
                        height: 150px;
                        input {
                            
                            width: 150px;
                            height: 150px;
                            display: block;
                            border: none;
                            width: inherit;
                            height: inherit;
                            z-index: -1;
                            cursor: pointer;
                            transition: all .3s ease-in-out;
                            &::-webkit-file-upload-button {
                                visibility: hidden;
                              }
                            &:hover {
                                background-color: rgba($color: #000000, $alpha: .2);
                            }
                        }
                    }
                }
            }
            &-form {
                display: flex;
                flex-direction: column;
                &.form-group {
                    .form-group-item {

                        .form-alert {
                            color: $danger-color;
                            font-size: 12px;
                            text-decoration: wavy;
                            text-align: right;
                            &::after {
                                content: "*";
                            }
                        }
                        
                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

}